<div>

  <h3>Log In Form</h3>

  <form action="/auth/login" method="POST">

    <label for="email">Email:</label>
    <input type="text" name="email">
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password">
    <br>

    <p style="color: red">{{errorMessage}}</p>

    <button>Log In</button>

  </form>

</div>