<div>

  <h3>Formulario de Acceso</h3>

  <form action="/auth/login" method="POST">

    <label for="email">Correo Electronico:</label>
    <input type="text" name="email">
    <br>
    <label for="password">Contraseña:</label>
    <input type="password" name="password">
    <br>

    <p style="color: red">{{errorMessage}}</p>

    <button>Acceder</button>

  </form>

</div>