<div>

  <h3>Register Form</h3>

  <form action="/auth/signup" method="POST">

    <label for="username">Username:</label>
    <input type="text" name="username" />
    <br />
    <label for="email">Email:</label>
    <input type="text" name="email" />
    <br />
    <label for="password">Password:</label>
    <input type="password" name="password" />
    <br />

    <p style="color: red">{{errorMessage}}</p>

    <button>Register</button>

  </form>

</div>