<div>

  <h3>Register Form</h3>

  <form action="/auth/signup" method="POST" enctype="multipart/form-data">

    <label for="username">Username:</label>
    <input type="text" name="username" />
    <br />
    <label for="avatar">Avatar:</label>
    <input type="file" name="avatar" />
    <br />
    <label for="email">Email:</label>
    <input type="email" name="email" />
    <br />
    <label for="password">Password:</label>
    <input type="password" name="password" />
    <br />
     <label for="password1">Confirm Password:</label>
    <input type="password" name="password1" />
    <br />

    <p style="color: red">{{errorMessage}}</p>

    <button>Register</button>

  </form>

</div>