<div>

  <h3>Add Toy</h3>

    <form action="/toy/add" method="POST" enctype="multipart/form-data">
      <label for="name">Name:</label>
      <input type="text" name="name" />
      <br />
      <label for="description">Description:</label>
      <input type="text" name="description" />
      <br />
      <label for="photo">Photo:</label>
      <input type="file" name="photo" />
      <br />
      <label for="status">Status:</label>
      <select name="status">
        <option value="new">New</option>
        <option value="used">Used</option>
        <option value="trash">Trash</option>
      </select>
      <br />
      <button>Add Toy</button>
    </form>
  </div>