<div id="home">
<h1 >CAT TOYS</h1>
<p>Switch cats toys</p>
<img src="https://res.cloudinary.com/dgsjejaed/image/upload/v1666865804/cat-toys/gatos_jugando_Home_w0tbgp.jpg" alt="Switch cat toys">
<div id ="btn-try-home">
<a href="/auth/signup"><button type="button" class="btn btn-primary btn-sm">Try it for free</button></a>

</div>
</div>