<div id="home">
<h1 >CAT TOYS</h1>
<p>Switch cats toys</p>
<img id ="img-home" src="https://res.cloudinary.com/dgsjejaed/image/upload/v1666887350/cat-toys/gatos_jugando_Home_1_ki5fa8.png" alt="Switch cat toys" >
<br>
<br>
<h5>Tired of your cats getting bored within 5 minutes of buying them a new toy?</h5>
<h5>Then, try the solidarity cat toy exchange community</h5>
<div id ="btn-try-home">
<a href="/auth/signup"><button type="button" class="btn btn-primary btn-sm">Try it for free</button></a>

</div>
</div>