<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>

<nav>
   <a href="/">Home</a>
   <a href="/auth/signup">Registrarse</a>
   <a href="/auth/login">Acceder</a>
   <a href="/toy/list">Toy List</a>
   {{#if isUserActive}}
      <a href="/user/profile">Ver Perfil</a>
      <a href="/user/{{req.session.activeUser._id}}/edit">Editar Perfil</a>
      <a href="/auth/logout">Cerrar sesion</a>
   {{/if}}
   <a href="/user/list">Users List</a>

</nav>


      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>