<div>

  <h3>Edit my profile</h3>

  <form action="/user/{{activeUser._id}}/edit" method="POST" enctype="multipart/form-data">

    <label for="username">Username:</label>
    <input type="text" name="username" value="{{activeUser.username}}" />
    <br />
    <label for="avatar">Avatar</label>
    <input type="file" name="avatar">
    <br />
    <label for="email">Email:</label>
    <input type="text" name="email" value="{{activeUser.email}}" />
    <br />
    <label for="password">Password:</label>
    <input type="password" name="password" />
    <br />

    <p style="color: red">{{errorMessage}}</p>

    <button>Update</button>

  </form>

</div>