body {
  margin: 14vh 10vw;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
h2,h3 {
  padding-bottom: 2vh;
  padding-top: 1vh;
  text-align: center;

}

.navbar{
  display: flex;
  justify-content:space-between;  
  position: fixed;
  width:100%;
  top:0;
  left: 0;
  background-color: white;
  padding-right: 10vw;
  padding-top: 2vh;
  padding-left: 8vw;


}

#logo-img {
  max-height: 50px;
  width: auto;
}

#toy-list {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.toys-li {
  display: flex;
  list-style: none;
  flex-direction: column;
  flex-wrap: wrap;
  width:20vw;
  margin: 1.5vw 0;
  align-items: center;

}

.toys-li img {
  width: 12vw;
  height: auto;
}

.toys-li a {
  text-decoration: none;
}

#login {
  display:flex;
  flex-direction: column;
  align-items: center;
}

#btn-login {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}

#sign-up {
  display:flex;
  flex-direction: column;
  align-items: center;
}

#btn-sign-up {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
  margin-bottom: 2vh;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn-try-home {
  margin-top: 4vh;
}

#edit-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn-edit-user {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.error-message {
  display: flex;
  justify-content: center;
}

#add-toy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn-add-toy {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

#user-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-list a {
  text-decoration: none;
}