body {
  margin: 14vh 10vw;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.navbar{
  display: flex;
  justify-content: right;  
  position: fixed;
  width:100%;
  top:0;
  left: 0;
  background-color: white;
  padding-right: 4vw;
  padding-top: 2vh;

}
